{% setcontent antwoord = 'antwoorden' where { 'author' : app.user.id } returnsingle %}

<form action="{{ path('submit_form') }}" method="post" name="enquete_form">
    <label for="username">Student nummer:</label><br>
    <input type="text" id="username" name="studentnummer" value="{{ app.user.userName }}" readonly />
    <br>
    <label for="name">Naam:</label><br>
    <input type="text" id="name" name="naam" value="{{ app.user.displayName }}" readonly />
    <br>
    <label for="kilometer">Hoeveel kilometer leef je van het GLR:</label><br>
    <input type="number" id="kilometer" name="kilometer" placeholder="Zoek desnoods op via Google Maps" {% if antwoord %}value="{{ antwoord.kilometer }}"{% endif %} />
    <br>
    <label for="minuten">Wat is jouw gemiddelde reistijd:</label><br>
    <input type="number" id="minuten" name="minuten" placeholder="Antwoord in minuten" {% if antwoord %}value="{{ antwoord.minuten }}"{% endif %} />
    <br>
    <label for="vervoer">Welke vervoer gebruik je:</label><br>
    <label>
        <input type="checkbox" name="vervoer[]" value="Trein" {% if antwoord %} {% if has_value(antwoord.vervoer.value, 'Trein') %} checked {% endif %} {% endif %}>
        Trein
    </label>
    <br>
    <label>
        <input type="checkbox" name="vervoer[]" value="Tram"  {% if antwoord %} {% if has_value(antwoord.vervoer.value, 'Tram') %} checked {% endif %} {% endif %}>
        Tram
    </label>
    <br>
    <label>
        <input type="checkbox" name="vervoer[]" value="Metro"  {% if antwoord %} {% if has_value(antwoord.vervoer.value, 'Metro') %} checked {% endif %} {% endif %}>
        Metro
    </label>
    <br>
    <label>
        <input type="checkbox" name="vervoer[]" value="Bus"  {% if antwoord %} {% if has_value(antwoord.vervoer.value, 'Bus') %} checked {% endif %} {% endif %}>
        Bus
    </label>
    <br>
    <label>
        <input type="checkbox" name="vervoer[]" value="Auto"  {% if antwoord %} {% if has_value(antwoord.vervoer.value, 'Auto') %} checked {% endif %} {% endif %}>
        Auto
    </label>
    <br>
    <label>
        <input type="checkbox" name="vervoer[]" value="Fiets"  {% if antwoord %} {% if has_value(antwoord.vervoer.value, 'Fiets') %} checked {% endif %} {% endif %}>
        Fiets
    </label>
    <br>
    <label>
        <input type="checkbox" name="vervoer[]" value="Lopen"  {% if antwoord %} {% if has_value(antwoord.vervoer.value, 'Lopen') %} checked {% endif %} {% endif %}>
        Lopen
    </label>
    <br>
    <label for="startLes">Wat vind je van de begintijd van de lessen:</label><br>
    <select name="startLes" id="startLes">
        <option {% if antwoord %} {% if has_value(antwoord.startles.value, 'Te vroeg') %} selected {% endif %} {% endif %} >Te vroeg</option>
        <option {% if antwoord %} {% if has_value(antwoord.startles.value, 'Goed') %} selected {% endif %} {% endif %} >Goed</option>
        <option {% if antwoord %} {% if has_value(antwoord.startles.value, 'Te laat') %} selected {% endif %} {% endif %} >Te laat</option>
    </select>
    <br>
    <label for="eindLes">Wat vind je van de eindtijd van de lessen:</label><br>
    <select name="eindLes" id="eindLes">
        <option {% if antwoord %} {% if has_value(antwoord.eindles.value, 'Te vroeg') %} selected {% endif %} {% endif %} >Te vroeg</option>
        <option {% if antwoord %} {% if has_value(antwoord.eindles.value, 'Goed') %} selected {% endif %} {% endif %} >Goed</option>
        <option {% if antwoord %} {% if has_value(antwoord.eindles.value, 'Te laat') %} selected {% endif %} {% endif %} >Te laat</option>
    </select>
    <br>
    <label for="extra">Overige opmerkingen:</label>
    <input type="text" id="extra" name="extra" {% if antwoord %}value="{{ antwoord.extra }}"{% endif %} />
    <br>

    <label for="submit">Verstuur:</label> <br>
    <input type="submit" id="submit" name="submit" value="Verstuur jouw antwoord" />
</form>
